.checkout-container {
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.checkout-products {
    display: flex;
    flex-direction: column;
}

.checkout-product {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.8;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout-container-title {
    padding: 1rem;
}

.checkout-quantity {
    font-weight: 400;
    font-size: 1.3rem;
}

.title-product-checkout {
    font-size: 20px;
    min-width: 20ch;
    max-width: 20ch;
}

.price-product-checkout {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.image-product-checkout {
    max-width: 100px;
    aspect-ratio: 16/9;
    display: block;
    object-fit: cover;
    justify-self: center;
}

.checkout-total {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 900;
    padding: 1.5rem;
    
    display: flex;
    justify-content: flex-end;
}
