.products {
  width: 90%;
  margin: 0 auto;
}

.products ul {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.products li {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
  border-radius: 13px;
}

.products h3 {
  margin: 0;
}

.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
  cursor: pointer;
}

.addcart-btn:hover {
  background-color: #04e600;
  transition: all 200ms;
}