.search-bar {
    z-index: 10;
    position: sticky;
    top: 0;
    display: block;
}

.search-bar-container {
    z-index: 10;
    position: relative;
    top: 0;
    display: block;
}

.results-list {
    width: 100%;
    position: absolute;
    background-color: #fff;
    display: block;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 10;
    text-align: left;
}

.input-wrapper {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: rgb(54, 128, 196);
    margin-right: 1ch;
}

.search-result {
    padding: 10px;
    padding-left: 4.5ch;
    cursor: pointer;
}

.search-result:hover {
    background-color: #efefef;
}